<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sobre</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="vm.closeAbout()">X</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- <form ng-submit="vm.doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="vm.loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="vm.loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form> -->
    <h2>BeerNote</h2>
    <p>BeerNote é um aplicativo simples que tem o poder de resolver aquela conta básica de quantas cervejas você bebeu ou quanto está devendo no fim da noite sem precisar ter que realizar vários calculos depois que a conta chega na mesa. E
    dependendo do quão resistente você é, a conta pode ficar um pouco confusa. Mantenha seus pedidos sempre registrados e evite confusão na hora de pagar a conta</p>

    <p>Sugestão: Veja quantas pessoas vão beber cerveja e divida o preço / quantidade de pessoas. Pronto, você já pode definir uma meta de gastos da noite e manter o registro e todas as cervejas e valor à pagar.</p>
    <footer>
      <small>Desenvolvido por Gabriel Freire</small>
    </footer>
  </ion-content>
</ion-modal-view>
